@use '@styles/globals' as *;

.MuiMenu-paper::-webkit-scrollbar {
  width: 10px;

  &-track {
    border-radius: 10px;
    background-color: $white;
  }

  &-thumb {
    border-radius: 10px;
    background-color: $soft_dark;
  }
}

.MuiMenu-paper {
  margin-top: 5px;
}
