$white: #fff;
$black: #000;
$dark: #282c34;
$darker: #202329;
$grey: #888888;
$purple: #8d65ff;
$blue: #6574ff;
$cyan: #88dbfe;

$font_poppins: 'Poppins', sans-serif;
$font_extra_small: 1rem;
$font_small: 1.25rem;
$font_medium: 1.5rem;
$font_large: 2rem;

:export {
  white: $white;
  black: $black;
  dark: $dark;
  darker: $darker;
  grey: $grey;
  purple: $purple;
  blue: $blue;
  cyan: $cyan;

  font_poppins: $font_poppins;
  font_extra_small: $font_extra_small;
  font_small: $font_small;
  font_medium: $font_medium;
  font_large: $font_large;
}
