$white: #fff;
$black: #000;
$soft_dark: #353b46;
$dark: #282c34;
$darker: #202329;
$dark_grey: #000a2021;
$grey: #888888;
$soft_grey: #000a2010;
$purple: #8d65ff;
$neon: #6574ff;
$cyan: #88dbfe;
$red: #f03939;
$green: #44b700;
$blue: #618deb;
$yellow: #e6d81e;

$font_poppins: 'Poppins', sans-serif;
$font_extra_small: 1rem;
$font_small: 1.25rem;
$font_medium: 1.5rem;
$font_large: 2rem;

:export {
  color_white: $white;
  color_black: $black;
  color_soft_dark: $soft_dark;
  color_dark: $dark;
  color_darker: $darker;
  color_dark_grey: $dark_grey;
  color_grey: $grey;
  color_soft_grey: $soft_grey;
  color_purple: $purple;
  color_neon: $neon;
  color_cyan: $cyan;
  color_red: $red;
  color_green: $green;
  color_blue: $blue;
  color_yellow: $yellow;

  font_poppins: $font_poppins;
  font_extra_small: $font_extra_small;
  font_small: $font_small;
  font_medium: $font_medium;
  font_large: $font_large;
}
