@use '@styles/globals' as *;

.MuiMenu-paper::-webkit-scrollbar {
  width: 10px;

  &-track {
    background-color: $white;
  }

  &-thumb {
    border-radius: 10px;
    background-color: $soft_dark;
  }
}

input[type='file'] {
  &::file-selector-button {
    display: none;
  }
}
