@use '@styles/globals' as *;

:root {
  background-color: $dark;
  margin-bottom: 4vh;
}

::-webkit-scrollbar {
  width: 10px;

  &-track {
    background-color: $darker;
  }

  &-thumb {
    border-radius: 10px;
    background-color: $white;
  }
}
